.BB-dashboard {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.BB-dashboard .div {
  background-color: #1f1f1f;
  border: 28px solid;
  border-color: #00ffb259;
  width: 1920px;
  height: 960px;
  position: relative;
}

.BB-dashboard .overlap {
  position: absolute;
  width: 1671px;
  height: 960px;
  top: 0;
  left: 90px;
}

.BB-dashboard .overlap-group {
  position: absolute;
  width: 1671px;
  height: 723px;
  top: 0;
  left: 0;
}

.BB-dashboard .overlap-2 {
  position: absolute;
  width: 1671px;
  height: 317px;
  top: 0;
  left: 0;
}

.BB-dashboard .ailiz {
  position: absolute;
  top: 55px;
  left: 1542px;
  opacity: 0.06;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff4c;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .top-bar {
  position: absolute;
  width: 1357px;
  height: 115px;
  top: 0;
  left: 192px;
}

.BB-dashboard .overlap-group-2 {
  position: relative;
  width: 1509px;
  height: 211px;
  left: -76px;
  background-image: url(./img/bar.svg);
  background-size: 100% 100%;
}

.BB-dashboard .hour {
  position: absolute;
  width: 72px;
  height: 39px;
  top: 38px;
  left: 719px;
}

.BB-dashboard .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .date {
  position: absolute;
  width: 186px;
  height: 39px;
  top: 38px;
  left: 1071px;
}

.BB-dashboard .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .dashboard-indicators {
  position: absolute;
  width: 429px;
  height: 285px;
  top: 32px;
  left: 0;
}

.BB-dashboard .low-beam-headlights {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 234px;
  left: 0;
}

.BB-dashboard .lights {
  position: absolute;
  width: 52px;
  height: 70px;
  top: 146px;
  left: 25px;
}

.BB-dashboard .overlap-group-3 {
  position: relative;
  height: 66px;
  top: 1px;
}

.BB-dashboard .shape {
  position: absolute;
  width: 52px;
  height: 47px;
  top: 0;
  left: 0;
}

.BB-dashboard .text-wrapper-3 {
  position: absolute;
  height: 19px;
  top: 47px;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #32d74b;
  font-size: 15.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .parking-lights {
  position: absolute;
  width: 72px;
  height: 62px;
  top: 74px;
  left: 74px;
  opacity: 0.5;
}

.BB-dashboard .img {
  position: absolute;
  width: 66px;
  height: 31px;
  top: 15px;
  left: 3px;
}

.BB-dashboard .low-beam-headlights-2 {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 0;
  left: 378px;
}

.BB-dashboard .MPH {
  position: absolute;
  width: 304px;
  height: 300px;
  top: 226px;
  left: 720px;
}

.BB-dashboard .overlap-3 {
  position: relative;
  width: 300px;
  height: 300px;
}

.BB-dashboard .text-wrapper-4 {
  position: absolute;
  top: 44px;
  left: 62px;
  text-shadow: 0px 20px 76px #00ffb21a;
  -webkit-text-stroke: 1px #ffffff33;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #01eb7b;
  font-size: 134.1px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .text-wrapper-5 {
  position: absolute;
  top: 193px;
  left: 96px;
  text-shadow: 0px 20px 76px #00ffb21a;
  -webkit-text-stroke: 1px #ffffff33;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff4c;
  font-size: 46.4px;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .o-v-bar {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
}

.BB-dashboard .range-bar {
  position: absolute;
  width: 300px;
  height: 239px;
  top: 0;
  left: -15px;
}

.BB-dashboard .right-side-analytics {
  position: absolute;
  width: 432px;
  height: 415px;
  top: 230px;
  left: 1182px;
}

.BB-dashboard .optimal-velocity {
  position: absolute;
  width: 422px;
  height: 104px;
  top: 311px;
  left: 0;
}
.BB-dashboard .element-optvel {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .average-mpkW {
  position: absolute;
  width: 400px;
  height: 123px;
  top: 157px;
  left: 0;
}

.BB-dashboard .overlap-group-4 {
  position: absolute;
  width: 246px;
  height: 122px;
  top: 1px;
  left: 150px;
}

.BB-dashboard .element-mpge {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .text-wrapper-6 {
  position: absolute;
  top: 60px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff4c;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .sun {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}

.BB-dashboard .range {
  position: absolute;
  width: 322px;
  height: 109px;
  top: 0;
  left: 5px;
}

.BB-dashboard .text-wrapper-7 {
  left: 145px;
  font-weight: 500;
  font-size: 50px;
  position: absolute;
  top: 0;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .text-wrapper-8 {
  position: absolute;
  top: 65px;
  left: 145px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff4c;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .road-icon {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 31px;
  left: 0;
}

.BB-dashboard .rectangle {
  position: absolute;
  width: 26px;
  height: 50px;
  top: 0;
  left: 2px;
}

.BB-dashboard .rectangle-2 {
  position: absolute;
  width: 26px;
  height: 50px;
  top: 0;
  left: 62px;
}

.BB-dashboard .rectangle-3 {
  position: absolute;
  width: 7px;
  height: 10px;
  top: 0;
  left: 42px;
  background-color: #e8ec25;
  border-radius: 3px;
}

.BB-dashboard .rectangle-4 {
  position: absolute;
  width: 7px;
  height: 11px;
  top: 16px;
  left: 42px;
  background-color: #e8ec25;
  border-radius: 3px;
}

.BB-dashboard .rectangle-5 {
  position: absolute;
  width: 7px;
  height: 16px;
  top: 34px;
  left: 42px;
  background-color: #e8ec25;
  border-radius: 3px;
}

.BB-dashboard .arrows {
  position: absolute;
  width: 230px;
  height: 60px;
  top: 141px;
  left: 740px;
}

.BB-dashboard .road {
  position: absolute;
  width: 375px;
  height: 401px;
  top: 559px;
  left: 683px;
}

.BB-dashboard .overlap-4 {
  position: absolute;
  width: 496px;
  height: 596px;
  top: 317px;
  left: 151px;
}

.BB-dashboard .bottom-left {
  position: absolute;
  width: 496px;
  height: 43px;
  top: 527px;
  left: 0;
}

.BB-dashboard .temperature {
  position: absolute;
  width: 84px;
  height: 39px;
  top: 4px;
  left: 0;
}

.BB-dashboard .element-f {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .span {
  color: #ffffff;
}

.BB-dashboard .text-wrapper-9 {
  color: #ffffff4c;
}

.BB-dashboard .o-v {
  position: absolute;
  width: 119px;
  height: 39px;
  top: 0;
  left: 379px;
}

.BB-dashboard .text-wrapper-10 {
  left: 0;
  font-weight: 400;
  font-size: 32px;
  text-align: right;
  position: absolute;
  top: 0;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .battery-charge {
  width: 342px;
  height: 584px;
  left: 41px;
  position: absolute;
  top: 0;
}

.BB-dashboard .overlap-5 {
  position: absolute;
  width: 507px;
  height: 507px;
  top: -65px;
  left: -84px;
}

.BB-dashboard .text-wrapper-11 {
  position: absolute;
  top: 270px;
  left: 156px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .battery-ring {
  width: 507px;
  height: 507px;
  left: 0;
  position: absolute;
  top: 0;
}

.BB-dashboard .text-wrapper-12 {
  position: absolute;
  top: 163px;
  left: 167px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 88px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .charge {
  position: absolute;
  width: 222px;
  height: 15px;
  top: 540px;
  left: 71px;
}

.BB-dashboard .rectangle-6 {
  position: absolute;
  width: 15px;
  height: 30px;
  top: -7px;
  left: 8px;
  background-color: #32d74b;
  transform: rotate(-90deg);
  box-shadow: 0px 20px 76px #00ffb21a;
}

.BB-dashboard .rectangle-7 {
  position: absolute;
  width: 15px;
  height: 30px;
  top: -7px;
  left: 39px;
  background-color: #32d74b;
  transform: rotate(-90deg);
  box-shadow: 0px 20px 76px #00ffb21a;
}

.BB-dashboard .rectangle-8 {
  position: absolute;
  width: 15px;
  height: 30px;
  top: -7px;
  left: 71px;
  background-color: #32d74b;
  transform: rotate(-90deg);
  box-shadow: 0px 20px 76px #00ffb21a;
}

.BB-dashboard .rectangle-9 {
  position: absolute;
  width: 15px;
  height: 30px;
  top: -7px;
  left: 103px;
  background-color: #32d74b;
  transform: rotate(-90deg);
}

.BB-dashboard .rectangle-10 {
  position: absolute;
  width: 15px;
  height: 30px;
  top: -7px;
  left: 135px;
  background-color: #32d74b;
  transform: rotate(-90deg);
}

.BB-dashboard .rectangle-11 {
  position: absolute;
  width: 15px;
  height: 30px;
  top: -7px;
  left: 167px;
  background-color: #32d74b;
  transform: rotate(-90deg);
}

.BB-dashboard .rectangle-12 {
  position: absolute;
  width: 15px;
  height: 30px;
  top: -7px;
  left: 199px;
  transform: rotate(-90deg);
  background: linear-gradient(180deg, rgb(50, 215, 75) 0%, rgba(50, 215, 75, 0) 100%);
}

.BB-dashboard .gear-selection {
  position: absolute;
  width: 289px;
  height: 126px;
  top: 780px;
  left: 1277px;
}

.BB-dashboard .ready {
  position: absolute;
  top: 65px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #32d74b;
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .text-wrapper-13 {
  position: absolute;
  top: 65px;
  left: 155px;
  opacity: 0.3;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .text-wrapper-14 {
  position: absolute;
  top: 65px;
  left: 256px;
  opacity: 0.3;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.BB-dashboard .text-wrapper-15 {
  position: absolute;
  width: 36px;
  top: -20px;
  left: 185px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 100px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
